@model CaelumEstoque.Models.Produto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visualiza</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Id:</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Nome:</td>
                <td>@Model.Nome</td>
            </tr>
            <tr>
                <td>Quantidade:</td>
                <td>@Model.Quantidade</td>
            </tr>
            <tr>
                <td>Preço:</td>
                <td>@Model.Preco</td>
            </tr>
            <tr>
                <td>Descrição:</td>
                <td>@Model.Descricao</td>
            </tr>
            <tr>
                <td>Categoria:</td>
                <td>@Model.Categoria.Nome</td>
            </tr>

        </table>
    </div>
    <br />
    <!--@Html.ActionLink("Voltar", "Index", "Produto")-->
    @Html.RouteLink("Voltar", "ListaProdutos")
</body>
</html>
